{% extends 'main.html' %}
{% load static %}

{% block content %}

  <main id="main" style="margin-top:25px!important;">

      <!-- ======= Logos section ======= -->
      <div id="team" class="our-team-area area-padding">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <h2>{{ headers.main_header }}</h2>
              </div>
              <div class="section-headline text-center" style="margin-top:10px;">
                <h4>{{ headers.second_header}}</h4>
                <p>{{ headers.volume}}</p>
              </div>
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="">
                <div class="team-img">
                
            
                </div>
               
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="single-team-member">
                <div class="team-img">
                  <a href="#">
                    
                     <img src="{{ headers.header_image1.url }}" alt="" style="width:239px">
                  </a>
            
                </div>
               
              </div>
            </div>    
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="single-team-member">
                <div class="team-img">
                  <a href="#">
                    
                    <img src="{{ headers.header_image2.url}}" alt="" style="width:239px">
                  </a>
            
                </div>
               
              </div>
            </div>   
            
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="">
                <div class="team-img">
                 
            
                </div>
               
              </div>
            </div>   
          </div>
        </div>
      </div><!-- End Logos Section -->
  

  

    <!-- ======= About Section ======= -->
    <div id="about" class="about-area area-padding">
      <div class="container">
        
        {% for item in about_lists %}
      
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>{{ item.header }}</h2>
            </div>
            <div class="well-middle">
              <div class="single-well">
                <a href="#">
                  <h4 class="sec-head text-center"></h4>
                </a>
                <p class="text-content"> {{ item.body }}</p>
             
              </div>
            </div>
          </div>
          <!-- End col-->
        </div>
        {% endfor %}
      </div>
    </div><!-- End About Section -->



     <!-- ======= Editors Section ======= -->
     <div id="about" class="about-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Editorial Board Members</h2>
            </div>
          </div>
        </div>
        <div class="row">
          {% for editor in editorial_members%}
          {% if editor.consulting_editor == False %}
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="well-middle">
              <div class="single-well">
               
                  <h4 class="sec-head text-center"></h4>
           
                <ul>
                  
                  <li> 
                    <h5 style="margin-bottom:2px; margin-top:5px;"><strong>{{ editor.name }}</strong></h5>
                      <span>{{ editor.department }}</span>
                      
                  </li>
               
                  
                </ul>
              </div>
            </div>
          </div>
          
          {% endif %}
          {% endfor %}


           
      

  
        </div>
      </div>
    </div><!-- End Editors Section -->


    <!-- ======= Contact Section ======= -->
    <div id="contact" class="contact-area">
      <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
          
         
          <div class="row">
            <div class="col-md-4">
              <div class="section-headline text-center mb-4">
                <h2>Consulting Editors</h2>
              </div>

              <ol>
                {% for editor in editorial_members %}
                {% if editor.consulting_editor == True%}
                <li> 
                  <h5 style="margin-bottom:2px; margin-top:5px;"><strong>{{ editor.name }}</strong></h5>
                    <span> {{ editor.department }} </span>
                    <hr>
                </li>
                {% endif %}
                {% endfor %}
        
              </ol>
            
            </div>

            <!-- Start  new contact -->
            <div class="col-md-8">
              <div class="section-headline text-center mb-4">
                <h2>Contact us</h2>
              </div>
              <div class="form contact-form">
                
                <form action="{% url 'contact_message' %}" method="post" role="form" class="php-email-form">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                  </div>
                  <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="text-center"><button id="send-message" type="submit">Send Message</button></div>
                </form>
              </div>
              <div class = "form-group">
                {% if messages %}
              
                  {% for message in messages %}
                  {% if message.tags == 'error' %}
                  <div style = "margin-top:10px;" class = "alert alert-danger">{{ message }}</div>
                  {% endif %}
  
                  {% if message.tags == 'success' %}
                  <div style = "margin-top:10px;" class = "alert alert-success">{{ message }}</div>
                  {% endif %}
  
                  {% endfor %}
              
      
                {% endif %}
              </div>
            </div>
      
            <!-- End Left contact -->
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->
    








   
 

  </main>
{% endblock %}