{% extends 'main.html' %}
{% load static %}
{% block title %}{{ object.title}}{% endblock title %}

{% block content %}

    <main id="main">

        <!-- ======= Blog Page ======= -->
        <div class="blog-page area-padding">
            <div class="container">
                <div class="row new_row">

                    <!-- Start single blog -->
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <!-- single-blog start -->
                                <article class="blog-post-wrapper">
                                    <div class="post-thumbnail">
                                        {% if object.cover %}
                                        <img src="{{object.cover.url}}" alt="{{object.title}}" />
                                        {% else %}
                                        <img src="{% static 'img/background/empty.jfif' %}" alt="No image here">
                                        {% endif %}
                                    </div>
                                    <div class="post-information">
                                        <h2>{{object.title}}</h2>
                                        <div class="entry-meta">
                                            <span class="author-meta"><i class="bi bi-person"></i> <a href="#">{{object.author}}</a></span>
                                            <span><i class="bi bi-clock"></i> {{object.updated_on}}</span>
                                            <span class="tag-meta">
                                        <i class="bi bi-folder"></i>
                                        {% if object.category %}
                                        <a href="{% url 'category_id' object.category.id %}">{{object.category}}</a>
                                        {% endif %}
                                    </span>
                                                            <span>
                                        <i class="bi bi-tags"></i>
                                        <a href="#">{{object.status}}</a>
                                        
                                    </span>
                                    {% if object.comments.all %}
                                    <span><i class="bi bi-chat"></i> <a href="#Comment_Form">{{object.get_total_comments}} comments </a>
                                    </span>
                                    {% endif %}
                            </div>
                   
                                        <div class="entry-content">
                                            <p>{{object.description}}</p>
                                            <blockquote>
                                                <p>{{object.quote}}</p>
                                            </blockquote>
                                            
                                    </div>
                                    <div class="row" >
                                        <span>
                                        <a href="{% url 'download' object.id%}" class="btn btn-block btn-info text-white download_btn m-auto">Download</a>
                                        </span>
                                    </div>
                                </article>
                                <div class="clear"></div>
                                <div class="single-post-comments">
                                    <div class="comments-area">
                                        <div class="comments-heading">
                                            {% if object.comments.all %}
                                            <h3>{{object.get_total_comments}} comments</h3>
                                            {% endif %}
                                        </div>
                                        <div class="comments-list">
                                            {% if object.comments.all %}
                                            <ul>
                                                
                                                {% for comment in object.comments.all %}
                                                {% comment %} {% if request.user.is_anonymous%} {% endcomment %}
                                                <li class="threaded-comments">
                                                    <div class="comments-details">
                                                        <div class="comments-list-img">
                                                            <img src="{% static 'img/blog/b02.jpg' %}" alt="{{comment.name}}">
                                                        </div>
                                                        <div class="comments-content-wrap">
                                                            <span>
                                                        <b><a href="#">{{comment.name}}</a></b>
                                                       
                                                        <span class="post-time">{{comment.date_created}}</span>
                                                            {% comment %} <a href="#">Reply</a> {% endcomment %}
                                                            </span>
                                                            <p>{{comment.description|safe}}</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                                {% comment %} {% else %} {% endcomment %}
                                                {% comment %} {% for comment in object.comments.all %} {% endcomment %}
                                                {% comment %} <li>
                                                    <div class="comments-details">
                                                        <div class="comments-list-img">
                                                            <img src="{% static 'img/blog/b02.jpg' %}" alt="post-author">
                                                        </div>
                                                        <div class="comments-content-wrap">
                                                            <span>
                                                                <b><a href="#">{{user.username}}</a></b>
                                                                | Staff |
                                                                <span class="post-time">{{comment.date_created}} </span>
                                                                {% comment %} <a href="#">Reply</a>
                                                            </span>
                                                            <p>{{comment.description}}</p>
                                                        </div>
                                                    </div>
                                                </li> {% endcomment %}
                                                {% comment %} {% endif %} {% endcomment %}
                                                {% comment %} {% endfor %} {% endcomment %}
                                                
                                                
                                            </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="comment-respond">
                                        <h3 class="comment-reply-title">Leave a Reply </h3>
                                        {% if request.user.is_anonymous %}
                                        <span class="email-notes">Your email address will not be published. Required fields are marked *</span>
                                        {% else %}
                                        <span class="email-notes"></span>
                                        {% endif %}
                                        <form action="" method="POST" id="Comment_Form">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4">
                                                    <p>Name *</p>
                                                    {{comment_form.name}}
                                                    {% comment %} <input type="text" /> {% endcomment %}
                                                </div>
                                                <div class="col-lg-4 col-md-4">
                                                    <p>Email *</p>
                                                    {{comment_form.email}}
                                                    {% comment %} <input type="email" /> {% endcomment %}
                                                </div>
                                                {% comment %} <div class="col-lg-4 col-md-4">
                                                    <p>Website</p>
                                                    <input type="text" />
                                                </div> {% endcomment %}
                                                <div class="col-lg-12 col-md-12 col-sm-12 comment-form-comment">
                                                    <p>Comment</p>
                                                    {{comment_form.description}}
                                                    {% comment %} <textarea id="message-box" cols="30" rows="10"></textarea> {% endcomment %}
                                                    {% comment %} <button type="submit"/> Post Comment </button>  {% endcomment %}
                                                    <input type="submit" value="Post Comment">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- single-blog end -->
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-4">
                        <div class="page-head-blog">
                            <div class="single-blog-page">

                                <form method="POST" action="{% url 'search' %}" >
                                    {% csrf_token %}
                                    <div class="search-option">
                                        <input type="text" name="search_btn" placeholder="Search for books...">
                                        <button class="button" type="submit">
                                  <i class="bi bi-search"></i>
                                  </button>
                                    </div>
                                </form>


                            </div>

                            <div class="single-blog-page">
                                <div class="left-tags blog-tags">
                                    <div class="popular-tag left-side-tags left-blog">
                                        <h4>Categories</h4>
                                        <ul>
                                            
                                          {% for category in category  %}
                            
                                            <li>
                                                
                                               <a href="{% url 'category_id' category.id%}">{{category.title}}</a>
                                               
                                            </li>
                                   
                                            {% endfor %}
                                            
                            
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            {% comment %} <div class="single-blog-page">
                                <div class="left-tags blog-tags">
                                    <div class="popular-tag left-side-tags left-blog">
                                        <h4>popular tags</h4>
                                        <ul>
                                            <li>
                                                <a href="#">Portfolio</a>
                                            </li>
                                            <li>
                                                <a href="#">Project</a>
                                            </li>
                                            <li>
                                                <a href="#">Design</a>
                                            </li>
                                            <li>
                                                <a href="#">wordpress</a>
                                            </li>
                                            <li>
                                                <a href="#">Joomla</a>
                                            </li>
                                            <li>
                                                <a href="#">Html</a>
                                            </li>
                                            <li>
                                                <a href="#">Masonry</a>
                                            </li>
                                            <li>
                                                <a href="#">Website</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
        <!-- End Blog Page -->

    </main>
    <!-- End #main -->

    {% endblock %}