{% extends 'main.html' %}
{% load static %}

{% block content %}
    <main id="main">



        <!-- ======= Blog Page ======= -->
        <div class="blog-page area-padding">
            <div class="container">
                <div class="row new_row">
                    <div class="col-lg-8 col-md-8">
                        <div class="page-head-blog">
                            <div class="single-blog-page">
                                <!-- search option start -->
                                <form method="POST" action="{% url 'search' %}" >
                                    {% csrf_token %}
                                    <div class="search-option">
                                        <input type="text" name="search_btn" placeholder="Search for books..">
                                        <button class="button" type="submit">
                                        <i class="bi bi-search"></i>
                                        
                                        </button>
                                    </div>
                                </form>
                                <!-- search option end -->
                            </div>
                            <div class="single-blog-page">
                                <!-- recent start -->
                                {% if search %}
                                <div class="left-blog">
                                    <h4>BOOKS</h4>
                                    <div class="recent-post">
                                        <!-- start single post -->
                                        {% if searched %}
                                        {% for search in searched %}
                                        <div class="recent-single-post">
                                            <div class="post-img">
                                                {% if search.cover %}
                                                <a href="{{search.get_absolute_url}}">
                                                    <img src="{{search.cover.url}}" alt="{{book.title}}" style="width: 100px; height: 60px;">
                                                </a>
                                                {% else %}
                                                <a href="{{search.get_absolute_url}}">
                                                    <img src="{% static 'img/background/empty.jfif' %}" alt="No image here" style="width: 100px; height: 60px;">
                                                </a>

                                                {% endif %}
                                            </div>
                                            <div class="pst-content">
                                                <p>
                                                    <a href="{{search.get_absolute_url}}"> <strong>{{search.title}}</strong></a>
                                                    <br>
                                                    <span class="comments-type">
                                                        <i class="bi bi-person"></i>
                                                        <a href="{{search.get_absolute_url}}"> {{search.author}}</a>
                                                        </span> |
                                                        {% if search.get_total_comments %}
                                                    <span class="comments-type">
                                                          <i class="bi bi-chat"></i>
                                                          <a href="{{search.get_absolute_url}}"> {{search.get_total_comments}} comments</a>
                                                          </span> |
                                                          {% endif %}
                                                    <span class="date-type">
                                                      <i class="bi bi-calendar"></i> {{search.updated_on}}
                                                    </span>



                                                </p>


                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% elif searched_author %}
                                        {% for search in searched_author %}
                                        <div class="recent-single-post">
                                            <div class="post-img">
                                                {% if search.cover %}
                                                <a href="{{search.get_absolute_url}}">
                                                    <img src="{{search.cover.url}}" alt="{{book.title}}" style="width: 100px; height: 60px;">
                                                </a>
                                                {% else %}
                                                <a href="{{search.get_absolute_url}}">
                                                    <img src="{% static 'img/background/empty.jfif' %}" alt="No image here" style="width: 100px; height: 60px;">
                                                </a>

                                                {% endif %}
                                            </div>
                                            <div class="pst-content">
                                                <p>
                                                    <a href="{{search.get_absolute_url}}"> <strong>{{search.title}}</strong></a>
                                                    <br>
                                                    <span class="comments-type">
                                                        <i class="bi bi-person"></i>
                                                        <a href="{{search.get_absolute_url}}"> {{search.author}}</a>
                                                        </span> |
                                                        {% if  search.get_total_comments%}
                                                    <span class="comments-type">
                                                          <i class="bi bi-chat"></i>
                                                          <a href="{{search.get_absolute_url}}"> {{search.get_total_comments}} comments</a>
                                                          </span> |
                                                          {% endif %}
                                                    <span class="date-type">
                                                      <i class="bi bi-calendar"></i> {{search.updated_on}}
                                                    </span>



                                                </p>


                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <p>No Book or Author titled <strong>{{search}}</strong></p>
                                        {% endif %}
                                        <!-- End single post -->


                                    </div>
                                </div>
                                {% endif %}

                                <!-- recent end -->
                            </div>

                            <div class="single-blog-page">
                                <div class="left-tags blog-tags">
                                    <div class="popular-tag left-side-tags left-blog">
                                        <h4>Categories</h4>
                                        <ul>
                                            
                                          {% for category in category  %}
                            
                                            <li>
                                                
                                               <a href="{% url 'category_id' category.id%}">{{category.title}}</a>
                                               
                                            </li>
                                   
                                            {% endfor %}
                                            
                            
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End left sidebar -->
                    <!-- Start single blog -->
                    {% include 'paginator.html' %}

                </div>
            </div>
        </div>
        <!-- End Blog Page -->

    </main>
{% endblock %}